body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cbdde0;
}
nav {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #cbdde0;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #fe0000;
}

button {
    background-color: #fe0000;

}